/* Fonts from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

body {
  background-color: #28324d ;
  font-family: 'Bungee Outline', sans-serif;
  font-weight: 900;
  overflow-y:  hidden;
  /*animation: blur 2s ease-in-out;*/
  height: 100%;
  margin: 0;
  padding: 0;
  user-select: none;
}

* {
  outline: none;
  border: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

/* Title Styles */
#title_container {
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 1000000;
  user-select: none;
  min-height: auto;
  /*animation: changeColour 0.3s linear infinite;*/
  background: #28324d;
  box-shadow: 0px 0px 50px 10px #ffffff;

}



#title_container:hover {

  cursor: normal;

}

@keyframes changeColour {
  0%, 100% {
    background: linear-gradient(to right, #3448ff, #3448ff, #3448ff, #3448ff, #3448ff, #3448ff, #3448ff, #3448ff, #3448ff, #3448ff);
  }
  10% {
    /*#ff631b*/
    background: linear-gradient(to right, #ff631b, #ff631b, #6200ff, #3448ff, #3448ff, #3448ff, #3448ff, #3448ff, #3448ff, #3448ff);
  }
  20% {
    background: linear-gradient(to right, #6200ff, #ff631b, #ff631b, #6200ff, #3448ff, #3448ff, #3448ff, #3448ff, #3448ff, #3448ff);
  }
  30% {
    background: linear-gradient(to right, #3448ff, #721bff, #ff631b, #ff631b, #6200ff, #3448ff, #3448ff, #3448ff, #3448ff, #3448ff);
  }
  40% {
    background: linear-gradient(to right, #3448ff, #3448ff, #6200ff, #ff631b, #ff631b, #6200ff, #3448ff, #3448ff, #3448ff, #3448ff);
  }
  50% {
    background: linear-gradient(to right, #3448ff, #3448ff, #3448ff, #721bff, #ff631b, #ff631b, #721bff, #3448ff, #3448ff, #3448ff);
  }
  60% {
    background: linear-gradient(to right, #3448ff, #3448ff, #3448ff, #3448ff, #6200ff, #ff631b, #ff631b, #6200ff, #3448ff, #3448ff);
  }
  70% {
    background: linear-gradient(to right, #3448ff, #3448ff, #3448ff, #3448ff, #3448ff, #6200ff, #ff631b, #ff631b, #6200ff, #3448ff);
  }
  80% {
    background: linear-gradient(to right, #3448ff, #3448ff, #3448ff, #3448ff, #3448ff, #3448ff, #6200ff, #ff631b, #ff631b, #6200ff);
  }
  90% {
    background: linear-gradient(to right, #3448ff, #3448ff, #3448ff, #3448ff, #3448ff, #3448ff, #3448ff, #6200ff, #ff631b, #ff631b);
  }
}






/* Add a media query for smaller screens (phones) */
@media (max-width: 500px) {
  #title_container {
    display: none; /* Hide the title container on smaller screens */
  }

}








#title_inner_container {
  width: 300px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 200px;
}



#title {
  display: inline-block;
  color: #ffffff;
  font-size: 55px;
  letter-spacing: 0px;
  user-select: none;
}

#fileInput {
  position: fixed;
  height: 100px;
  width: 100px;
  top: 50%;
  align-items: center;
}

/* Join Form Styles */
#join_container {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  margin-top: 300px;
  z-index: 3000;

}

#join_inner_container {
  width: 50%;
  height: 100%;

}

#join_input_container {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;

}

#join_input {
  width: 60%;
  height: 40px;
  color: #a4a4a4;
  font-family: 'Varela Round', sans-serif;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  background-color: transparent;
  border-bottom: 2px solid #000000;
  background-color: #000000;
  transition: ease-in-out 0.5s;
  border-radius: 6px;
}

#join_input:hover {

  background-color: #000000;

  transition: ease-in-out 0.5s;
  border-radius: 6px;
  
}

#join_input:focus {
  caret-color: rgb(255, 255, 255); /* Change this to your desired color */
}

#join_input:focus {
  box-shadow: 0 10px 30px -17px #1D3354;
  background-color: #000000;
  color: #ffffff;

  transition: ease-in-out 0.4s;
  border-radius: 20px;
  font-size: 17px;
}

#join_input:focus::placeholder {
  color: #a4a4a4;
}

#join_input:hover::placeholder {
  color: #a4a4a4;
}

#join_input::placeholder {
  color: #a4a4a4;
}

#join_button_container {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
}

#join_button {
  width: 60%;
  height: 40px;
  font-family: 'Varela Round', sans-serif;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  color: #000000;
  border-radius: 10px;
  margin-top: 100px;
  transition: background-color  ease-in-out 0.5s;
}

#join-button .enabledlog{
   background-color: #000000;
   transition: background-color  ease-in-out 0.5s;
}

#password_input_container {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
}

#password_input {
  width: 60%;
  height: 40px;
  color: #ffffff;
  font-family: 'Varela Round', sans-serif;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  background-color: transparent;
  border-bottom: 2px solid #1D3354;
  transition: ease-in-out 0.5s;
}

#password_input:hover {

  color: #ffffff;
  background-color: transparent;

  
  transition: ease-in-out 0.5s;

  border-radius: 6px;
}


#password_input:focus {
  box-shadow: 0 10px 30px -17px #1D3354;
  background-color: transparent;
  color: #ffffff;
  border-bottom: 2px solid #a4a4a4;
  transition: ease-in-out 0.4s;
  border-radius: 0px;
  font-size: 17px;
  caret-color: rgb(255, 255, 255); /* Change this to your desired color */
}

#password_input:focus::placeholder {
  color: #a4a4a4;
}

#password_input:hover::placeholder {
  color: #a4a4a4;
}

#password_input::placeholder {
  color: #a4a4a4;
}

.label-style {
  font-size: 20px;
}



/* Greeting Styles */
#greeting_container {
  background-color: #ffffff;
  padding: 8px;
  color: #000000;
  text-align: left;
}

#greeting_text {
  font-size: 20px;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
}

/* Chat Styles */

  #chat_container {
    width: 100%;
    height: 78vh; /* Set the height to 100% of the viewport height */
    margin: 0;
    display: flex;
    flex-direction: column; /* Make the children stack vertically */
    justify-content: space-between; /* Push content to the top and bottom */
    margin-top: 0;
    /* Fade in container */
    animation: fadeIn 1s linear;
    padding: 0;
    z-index: 1;
  }
  

#chat_inner_container {
  width: 100%;
  height: 100%;
  margin-right: 0px;
}

#chat_content_container {
  width: 100%;
  height: 100%;
  float: left;
  overflow-y: auto;
  font-family: 'Varela Round', sans-serif;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 100px;
  margin-top: 30px;

    /* Set a maximum height for the chat container and enable overflow scrolling */
    max-height: 800px; /* Adjust the height as needed */
    overflow-y: auto;
    scroll-behavior: smooth; /* Enable smooth scrolling */
}

#chat_input_container {
  width: 100%;
  max-height: auto; /* Change to auto to accommodate the chat input */
  background-color: transparent;
  padding-left: 30px;
  padding-right: 15px;
  font-family: "Varela Round", sans-serif;
  margin-top: 10px;
  display: flex; /* Use flexbox for better alignment */
  align-items: flex-start; /* Align items at the top */
  position: relative;
  overflow: visible;
  margin-top: 40px;
}

#chat_input {
  width: 90%;
  min-height: 60px; /* Set a minimum height to show at least one line */
  max-height: 200px; /* Set a max height to enable scrolling if needed */
  background-color: #f5f5f5;
  color: #1D3354;
  font-size: 16px;
  margin-top: 5px;
  padding: 10px;
  border-radius: 13px;
  overflow-y: visible;
  white-space: pre-wrap;
  resize: vertical; /* Allow vertical resizing of the input */
  box-sizing: border-box; /* Include padding in width and height calculations */
  margin-top: 10px;
  box-shadow: 0px -0px 10px 0.2px rgba(0, 0, 0, 0.2);
  transition: ease-in-out 0.3s;

}



#chat_input:focus {
  box-shadow: 0px -0px 10px 5px rgba(0, 0, 0, 0.5);
  transition: ease-in-out 0.3s;


}



#chat_input_send {
  width: 45px;
  height: 45px;
  float: left;
  font-size: 20px;
  background-color: transparent;
  text-align: center;
  color: #ffffff;
  z-index: 1000;
  margin-left: 10px;
  transition: ease-in-out 0.4s;
  margin-top: 15px;

}

#chat_input_send.enabled {
  color: #000000;
  background-color: transparent;
  cursor: pointer;
  transition: ease-in-out 0.4s;
  background-color: #ffffff;
  border-radius: 50%;
  
}

#chat_logout_container {
  width: 100%;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  margin-top: 20px;
  background: none;
  transition: ease-in-out 0.5s; /* Add transition to the container */
  border-radius: 10px;
}

#chat_logout {
  color: #000000;
  cursor: pointer;
  font-size: 16px; /* Initial font size */
  transition: ease-in-out 0.3s; /* Add transition to the logout button */
  border-radius: 12px;

  padding: 10px;
  margin-top: 0px;
  
}

#chat_logout:hover {

  background-color: #000000;
  color: #ffffff;
  border-radius: 10px;

}


/* Message Styles */
/* Apply the normal message styles to all messages */
.message_container {
  background-color: #f9f9fa;
  padding: 10px;
  border-radius: 12px 12px 12px 0px;
  box-shadow: 0 4px 8px 0 rgba(9, 71, 106, 0.2);
  transition: ease-in-out 0.3s;
  margin-bottom: 12px;
  max-width: 90%;
  white-space: pre-wrap;
  width: fit-content;
  min-width: 200px;
  margin-left: 30px;
  transition: ease-in-out 0.3s;
  color: #050505;
} 

/*HHGSougwoqudgwgFDUOEWgfdwD*/


/*HHGSougwoqudgwgFDUOEWgfdwD*/


/* Apply different styles for messages sent by the user */
.message_container.sent {
margin-left: auto; /* Push the container to the right */
margin-right: 30px; /* Adjust margin on the right for spacing */
border-radius: 12px 12px 0px 12px; /* Adjust border-radius for appearance */
background-color: #D64045; /* Change background color for sent messages */
color: white; /* Change text color for sent messages */
box-shadow: 0 4px 8px 0 rgba(214, 64, 69, 0.2); /* Adjust shadow color for sent messages */
}

/* Apply different styles for messages received from others */
.message_container.received {
 margin-left: 30px;
 margin-right: auto; /* Push the container to the left */
 border-radius: 12px 12px 12px 0px;
 background-color: #ffffff; /* Keep the background color for received messages */
 color: #1D3354; /* Keep the text color for received messages */
 box-shadow: 0 4px 8px 0 rgba(9, 71, 106, 0.2); /* Keep the shadow color for received messages */
}


.message_user {
  position: relative;
  color: #256cad;
}

.message_user:hover {
  background: none; /* Remove the background on hover */ 

  cursor: pointer;
}

.new-sent-message {
  background-color: lightblue; /* Change this color to the desired highlight color */
  transition: background-color 0.5s; /* Add a transition effect for smooth color change */
}

/* Style for sent messages */
.message_container.sent {
  justify-content: flex-end;
}

/* Style for received messages */
.message_container.received {
  justify-content: flex-start;
}

/* ... Your existing CSS ... */


@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


.message_content_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  word-wrap: break-word;
}

.message_content {
  font-weight: normal;
  font-size: 14px;
  margin: 0; /* Remove any default margins */
  word-break: break-word; /* Break long words to avoid overflowing */
}

.message_container:hover {
  transform: scale(1.04);
  transition: ease-in-out 0.3s;
  background-color: #000000;
  box-shadow: 0 8px 8px 0 rgba(9, 71, 106, 0.2);
  color: #ffffff;
}

.message_container:hover:not(:hover) {
  opacity: 0.5; /* Reduce opacity for messages that are not being hovered */
}

.message_user {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 5px;
  color: #2f8ac2;
}

.message_container.sent {
  justify-content: flex-end; /* Push your messages to the right */
}

.message_container.received {
  justify-content: flex-start; /* Align received messages to the left */
}

.message_container.me {
  background-color: #4caf50; /* Customize the styling for your messages */
  color: white;
}


/* Styling for the timestamp in chat messages */
.message_timestamp {
  font-size: 10px;
  color: #818181;
  margin: 0;
  padding-top: 10px;
  user-select: none;
}

  .link-preview {
    display: flex;
    border: 1px solid #ccc;
    padding: 10px;
    max-width: 400px;
  }

  .preview-image {
    width: 80px;
    height: 80px;
    background-size: cover;
    background-position: center;
    margin-right: 10px;
  }

  .preview-info {
    flex: 1;
  }

  .preview-title {
    font-weight: bold;
    margin-bottom: 5px;
  }

  .preview-description {
    color: #666;
  }


/* Optional: Add this CSS to style the delete icon */
.delete-icon {
  color: red;
  cursor: pointer;
  margin-left: 5px;
}



.message_content_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  word-wrap: break-word;
  white-space: pre-wrap;
}

.message_content {
  font-weight: normal;
  font-size: 14px;
}

  
  .enabledlog{
    transition: background-color  ease-in-out 0.5s;
    -webkit-text-fill-color: #ffffff;
    background-color: #4781de;

    cursor: pointer;

  }

  .enabled{
    transition: background-color  ease-in-out 0.5s;
    -webkit-text-fill-color: #000000;
    background-color: #76a3eb;

    cursor: pointer;

  }
  
  #title_container.chat_title_container{
    transition: 0.8s;
    transition-timing-function: ease-in-out;
    height: 100px;
  }
  #title.chat_title{
    transition: 0.8s;
    font-size: 47px;
  }
  .loader_container{
    width: 100%;
    height: 100%;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .loader {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 0.5s linear infinite;
  
    border-top: 6px solid #5a5a5a;
    border-bottom: 6px solid #5a5a5a;
    border-left: 6px solid #e0dede;
    border-right: 6px solid #5a5a5a;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  @keyframes fadeIn {
     0% {opacity: 0;}
     100% {opacity: 1;}
  }
  @keyframes blur {
    0% {filter: blur(10px);}
    100% {}
  }
  ::selection {
    background-color: #D64045;
    color: #fff;
  }
  /* width */
  ::-webkit-scrollbar {
    width: 8px;
 
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 4px
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: linear-gradient(to top, #71c5f9, #e0dede);
    border-radius: 10px;

  }

 










































  /* Styles for the group chat container and list */
#group_chat_container {
  position: fixed;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  background-color: #f1f1f1;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 2000;
}

#group_chat_title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  z-index: 2000;
}

#group_chat_list {
  margin-bottom: 10px;
  z-index: 2000;
}

/* Styles for the plus button */
#group_chat_plus_button {
  background-color: #3e64ff;
  color: white;
  font-size: 16px;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
  z-index: 2000;
}

/* Styles for the search bar */
#search_bar {
  display: none;
  margin-top: 5px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: width 0.3s ease;
  z-index: 2000;
}

#search_bar.active {
  display: block;
  width: 150px;
}

